*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: violet;
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $color;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  // background-color: red;
}
