*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $fontFamily;
  font-size: $fontSize16;
  color: $mainColor;
}

.wrapper{
  width: $heightWrapper;
  margin: 0 auto;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.display_none{
  display: none;
}

.margin_left_5{
  margin-left: 5px;
}
