header{
  .navbar{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid grey;
    // background-color: red;
  }
    .nav-left{
      @include floatElement;
      width: 60%;
      height: 100%;
    }
      .logo img{
        height: 100%;
      }

    .nav-right{
      @include floatElement;
      width: 40%;
      height: 100%;
      background-color: lightgreen;
    }
      ul{
        line-height: 80px;

        list-style: none;
      }
        li{
          margin-right: 25px;
          display: inline-block;
        }
}
