header{
  // Navbar
  .navbar{
    height: $heightHeader;
    width: 100%;
    border-bottom: 1px solid grey;
  }
    .nav-left{
      @include floatElement;
      width: 60%;
      height: 100%;
    }
      .logo img{
        height: 100%;
        margin-left: -10px;
      }

    .nav-right{
      @include floatElement;
      position: relative;
      width: 40%;
      height: 100%;
    }
      i.hamburger{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


      ul{
        display: flex;
        justify-content: space-between;
        line-height: $heightHeader;
        list-style: none;
      }
        li:last-child{
          margin-right: 0;
        }

        li{
          display: inline-block;
          font-weight: bold;
          margin-right: 30px;
        }
         & .dropdown{
            position: relative;
          }
          .sign_up{
            @include btn;
            color: $secondaryColor;
          }
            .sign_up:hover{
              color: $basicColor;
              background-color: $secondaryColor;
            }

            & .logo{
            height: 45px;
            vertical-align: middle;
            line-height: $heightHeader;
            }
        & a:hover{
          color: $secondaryColor;
        }
        a{
          text-decoration: none;
          color: $mainColor;
          }

      & li.dropdown:hover ul{
          position: absolute;
          display: grid;
          line-height: 30px;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
          border: 1px solid lightgrey;
          top: 60px;
          z-index: 5;
          background-color: white;
        }
        .display_none{
          top: 60px;
          z-index: 5;
          background-color: white;
        }

}

// Jumbotron
.jumbotron{
  height: 600px;
  width: 100%;

  &-left{
    @include floatElement;
    height: 100%;
    width: 45%;
    background-color: lightgreen;
  }
  &-right{
    @include floatElement;
    height: 100%;
    width: 55%;
    background-color: violet;
  }

}

// MediaQuery
// Small - Tablet - 768px
@media screen and(max-width: $mediaQuerySmall) {
  .nav-right i.fa-bars{
    display: block;
  }
  .nav-right .menu{
    display: none;
  }
}

// Medium - Laptop -1024px
@media screen and(max-width: $mediaQueryMedium) {
  .nav-left{
    width: 40%;
  }
  .nav-right{
    width: 60%;
  }

  .jumbotron-left{
    background-color: red;
  }
}
