// Font
$fontFamily: 'Alegreya Sans', sans-serif;
$fontSize16: 16px;
// Color
$mainColor: #58402C;
$secondaryColor: #233569;
$basicColor: white;
// Size Header
$widthWrapper: 90%;
$heightHeader: 80px;
// Mediaquery
$mediaQuerySmall: 768px;
$mediaQueryMedium: 1023px;
